# PyTorch CPU
-f https://download.pytorch.org/whl/cpu
torch==2.2.2

# Обычные пакеты с PyPI
python-telegram-bot[webhooks]==21.6
requests
pillow
flask
ftfy
regex
tqdm
git+https://github.com/openai/CLIP.git
